<h2>Organisms <%= link_to '<span class="glyphicon glyphicon glyphicon-plus"></span>'.html_safe, new_organism_path() %> </h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Fax</th>
      </tr>
    </thead>
    <tbody>
    <% @organismes.each do |organisme| %>
      <% if organisme.user_id == current_user.id %>
          <tr>
            <td><%= organisme.name %></td>
            <td><%= organisme.address %></td>
            <td><%= organisme.email %></td>
            <td><%= organisme.fax %></td>
            <td><%= link_to '<span class="glyphicon glyphicon-search"></span>'.html_safe, organism_path(organisme) %></td>
            <td><%= link_to '<span class="glyphicon glyphicon glyphicon-pencil"></span>'.html_safe, edit_organism_path(organisme) %></td>
            <td>
                <%= link_to '<span class="glyphicon glyphicon glyphicon glyphicon-trash"></span>'.html_safe, organism_path(organisme),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</table>
