<h1>Listing Organimses</h1>
<table>
  <tr>
    <th>Nom</th>
    <th>couriel</th>
    <th>site web</th>
    <th colspan="3"></th>
  </tr>

  <% @organismes.each do |organisme| %>
    <tr>
      <td><%= organisme.nom %></td>
      <td><%= organisme.couriel %></td>
      <td><%= organisme.site_web %></td>
      <td><%= link_to 'Show', organisme_path(organisme) %></td>
      <td><%= link_to 'Edit', edit_organisme_path(organisme) %></td>
      <td><%= link_to 'Destroy', organisme_path(organisme),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
