<h2><%= @organisme.nom %></h2>
<div class="row">
  <div class="col-sm-4">
    <p>
      <strong>Couriel:</strong>
      <%= @organisme.couriel %><br>
      <strong>Site Web:</strong>
      <%= @organisme.site_web %>

    </p>
  </div>
  <div class="col-sm-4">
    <p>
      <strong>Numero Civique:</strong>
      <%= @organisme.adresse.no_civique %><br>
      <strong>Rue:</strong>
      <%= @organisme.adresse.rue %><br>
      <strong>Ville:</strong>
      <%= @organisme.adresse.ville %><br>
      <strong>Code Postal:</strong>
      <%= @organisme.adresse.code_postal %>
    </p>
  </div>
  <div class="col-sm-4">
    <p>
      <strong>Bureau:</strong>
      <%= @organisme.telephone.bureau %><br>
      <strong>Telecopie:</strong>
      <%= @organisme.telephone.telecopie %>
    </p>
  </div>
</div>
<%= link_to '<span class="glyphicon glyphicon glyphicon-chevron-left"></span> Back'.html_safe, organismes_path() %>
